.back{
    background-color: #dad3d3;
    border-radius: 50%;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 10px;
}
.back span{
    display: flex;
}
.back a{
    color: black;
}
.card-jsx{
    top: 5rem;
    position: relative;
    display: flex;
    margin: auto;
    width: 85%;
    background-image: url(../../../public/img/backpoke2.png);
    background-color: #fff;
    text-transform: capitalize;
}
.cont-card-gen{
    width: 75%;
    display: flex;
    background-color: #fff;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.tittle-cont{
    display: flex;
    margin: auto;
    gap: 1rem;
    align-items: center;
    position: relative;
    top: 1rem;
}
.tittle-cont h3{
    font-size: 20pt;
}
.tittle-cont p{
    font-size: 15pt;
    color: #616161;
}
.details-cont{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1.5rem;
}
.img-peso-cont{
    display: flex;
    margin: auto;
    width: 92%;
    gap: 1rem;
    
}
.img-cont{
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 48%;
}
.img-cont img{
    width: 90%;
}
.description-cont{
    padding: 1rem 0 0.7rem 0;
}
.description-cont p{
    font-size: 13.5pt;
}
.peso-cont{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: auto;
    gap: 0.5rem;
}
.peso{
    background-color: #30a7d7;
    border-radius: 5px;
    padding: 1rem 2rem;
    display: flex;
}
.bot-flex p{
    color: #e2e0e0;
}
.peso .column1 img{
    width: 30px;
}
.column1{
    width: 55%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.column1 .bot-flex{
    display: flex;
    flex-direction: column;
}
.column2{
    width: 45%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.cont-dot-graphs {
    margin: auto;
    display: flex;
    width: 90%;
}
.types-cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.types-cont ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.types-cont .pokecard-type span{
    width: 105px;
    max-width: 110px;
    padding: 0.5rem;
    font-size: 12pt;
}
.weaknesses {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 0.8rem;
}
.weaknesses p{
    font-size: 16.5pt;
}
.weaknesses .pokecard-type span{
    width: 120px;
    max-width: 130px;
    padding: 0.5rem;
    font-size: 12pt;
}
.weaknesses ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.evolution-chain{
    display: flex;
    gap: 2rem;
}
.img-evolution{
    border-radius: 50%;
    border: 3px #fff solid;
    padding: 1rem;
}
.img-evolution img{
    width: 150px;
}
.chain-evolution{
    display: flex; 
    flex-direction: column; 
    margin: auto;
    width: 90%;
    gap: 1rem;
    padding: 0rem 0rem 2rem 0rem;
}
.chain-evolution p{
    font-size: 16.5pt;
}
.chain-evolution ul{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0px 0px 0px 10px;
}
.back-evo {
    background: transparent url(/public/img/backpoke3.png);
    border-radius: 7px;
    padding: 1.7rem 0 1.7rem 0;
    height: auto;
    /* width: 90%; */
}
.evolution-info{
    display: flex;
    align-items: center;
    gap: 10px;
    top: 5px;
    position: relative;
}
.evolution-info h4{
    font-size: 12pt;
    color: #fff;
}
.evo-id{
    color: #a4acaf;
}
.mid-evo {
    display: flex;
    flex-direction: column;
    margin: auto;
}
ul.evo-ul {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
/*---------------btn top----------*/
#scrollToTopBtn {
    display: none;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #a4acaf;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    animation: appear 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
#scrollToTopBtn:hover {
    background-color: #898a8a;
}
#scrollToTopBtn.show {
    display: block;
}
#scrollToTopBtn.hide {
    opacity: 0;
}
#top{
    position: relative;
    top: -100px;
}
html {
    scroll-behavior: smooth;
}
@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0; 
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media (max-width: 1100px) {
    .cont-card-gen{
        width: 80%;
    }
    .img-peso-cont{
        flex-direction: column;
    }
    .peso-cont{
        margin: 0;
        width: 85%;
        margin: auto;
    }
    .img-cont{
        width: 85%;
        margin: auto;
    }
    .details-cont{
        width: 100%;
    }
    .cont-dot-graphs{
        width: 80%;
        height: 100%;
    }
    .weaknesses{
        flex-direction: column;
        
    }
    .evolution-chain{
        gap: 0.5rem;
    }
    .img-evolution img {
        width: 100px;
        display: flex;
        margin: auto;
    }
    .evolution-info h4{
        font-size: 10pt;
    }
    .chain-evolution p{
        font-size: 12.5pt;
    }
}
@media (max-width: 700px) {
    .chain-evolution ul{
        padding: 0;
    }
    .evolution-chain{
        gap: 0.5rem;
    }
    .img-evolution{
        padding: 0.5rem;    }
    .evolution-info{
        gap: 5px;
    }
    .evolution-info h4{
        font-size: 8pt;
    }
    .chain-evolution p{
        font-size: 10.5pt;
    }
}
