.container{
    top: 5rem;
    position: relative;
    background: #fff url(../../../public/img/backpoke2.png);
    width: 85%;
    height: 100%;
    margin: auto;
}
.container-card-gen{
    background-color: #fff;
    width: 75%;
    display: flex;
    margin: auto;
}
.cards-cont{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
}
/* .cards-cont:hover {
    background-color: #f1efef;
} */
.cards-cont img{
    object-fit: cover;
}
.pokemon-card{
    /* justify-content: center; */
    width: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.pokemon-card:hover{
    transform: translateY(-0.8rem);
}
.pokemon-card img{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 100%;
}
.cont-pokecard{
    width: 85%;
    margin: auto;
    display: grid;
    gap: 0.1rem;
}
.cont-pokecard h2{
    text-transform: capitalize;
}
.poke-id{
    color: grey;

}
.pokecard-type{
    text-transform: capitalize;
    gap: 5px;
    display: flex;
}
.pagination{
    display: flex;
    width: 73.3%;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 26px 0 26px 20px;
    
}
.pag-cont{
    display: flex;
    margin: auto;
}
.pagination-cont{
    margin: auto;
    gap: 0.5rem;
    display: flex;
}
.pagination-cont button{
    background-color: #f2f2f200;
    border: 0;
    min-width: 40px;
    margin-right: 20px;
    line-height: 42px;
    color: #71777d;
}
.pagination-cont button:hover {
    background-color: #f1efef;
}
.pagination-cont button.active {
    border-bottom: 3px solid #174ae4 ;
}
.btn-sig{
    border: none !important;;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-ant{
    border: none !important;
    align-items: center;
    justify-content: center;
    display: flex;
}
