.container{
    top: 5rem;
    position: relative;
    background: #fff url(../../../public/img/backpoke2.png);
    width: 85%;
    height: 100%;
    margin: auto;
}
.container-card-gen{
    background-color: #fff;
    width: 75%;
    display: flex;
    margin: auto;
}
.cards-cont {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cards-cont img{
    object-fit: cover;
}
.pokemon-card{
    /* justify-content: center; */
    width: auto;
    /* padding: 0.5rem; */
    /* width: 200px; */
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.pokemon-card:hover{
    transform: translateY(-0.6rem);
}
.pokemon-card img{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 100%;
}
.cont-pokecard{
    width: 85%;
    margin: auto;
    display: grid;
    gap: 0.1rem;
}
.cont-pokecard h2{
    text-transform: capitalize;
}
.poke-id{
    color: grey;

}
.pokecard-type{
    text-transform: capitalize;
    gap: 5px;
    display: flex;
}
.pagination{
    display: flex;
    width: 73.3%;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 26px 0 26px 20px;
    
}
.pag-cont{
    display: flex;
    margin: auto;
}
.pagination-cont{
    margin: auto;
    gap: 0.5rem;
    display: flex;
}
.pagination-cont button{
    background-color: #f2f2f200;
    border: 0;
    min-width: 40px;
    margin-right: 20px;
    line-height: 42px;
    color: #71777d;
}
.pagination-cont button:hover {
    background-color: #f1efef;
}
.pagination-cont button.active {
    border-bottom: 3px solid #174ae4 ;
}
.btn-sig{
    border: none !important;;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-ant{
    border: none !important;
    align-items: center;
    justify-content: center;
    display: flex;
}
/*----------btn top-------*/
#scrollToTopBtn {
    display: none;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #a4acaf;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    animation: appear 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
#scrollToTopBtn:hover {
    background-color: #898a8a;
}
#scrollToTopBtn.show {
    display: block;
}
#scrollToTopBtn.hide {
    opacity: 0;
}
#top{
    position: relative;
    top: -100px;
}
html {
    scroll-behavior: smooth;
}
@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0; 
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media (max-width: 1300px) {
    .cards-cont{
        grid-column-gap: 1rem;
        grid-row-gap: 1.5rem;
    }
}
@media (max-width: 1200px) {
    .cards-cont {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.5rem;
        grid-row-gap: 1rem;
        padding-bottom: 2.5rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (max-width: 1100px) {
    .cont-pokecard h2{
        font-size: 13pt;
    }
}
@media (max-width: 900px) {
    .cards-cont{
        grid-template-columns: repeat(3, 1fr);

    }
    .cont-pokecard h2{
        font-size: 11pt;
    }
}
@media (max-width: 770px) {
    .cards-cont{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;

    }
    .pagination-cont button{
        margin-right: 17px;
    }
    .pagination{
        padding: 26px 0 26px 0px;
    }
}